# Copyright Contributors to the Open Cluster Management project

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "controller.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ include "controller.fullname" . }}
    chart: {{ include "controller.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    addon.open-cluster-management.io/hosted-manifest-location: hosting
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ include "controller.name" . }}
      release: {{ .Release.Name }}
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        app: {{ include "controller.fullname" . }}
        chart: {{ include "controller.chart" . }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.global.imageOverrides.cert_policy_controller }}"
        imagePullPolicy: {{ .Values.global.imagePullPolicy }}
        args:
        - --enable-lease=true
        - --cluster-name={{ .Values.clusterName }}
        {{- if .Values.updateFrequency }}
        - --update-frequency={{ .Values.updateFrequency }}
        {{- end }}
        {{- if .Values.defaultDuration }}
        - --default-duration={{ .Values.defaultDuration }}
        {{- end }}
        {{- if eq (.Values.replicas | int) 1 }}
        - '--leader-elect=false'
        {{- end }}
        - --log-encoder={{ .Values.logEncoder }}
        - --log-level={{ if eq (toString .Values.logLevel) "-1" }}error{{ else }}{{ .Values.logLevel }}{{end}}
        - --v={{ .Values.pkgLogLevel }}
        {{- if and .Values.prometheus.enabled (eq .Values.hostingKubernetesDistribution "OpenShift") }}
        - --secure-metrics=true
        - --metrics-bind-address=0.0.0.0:8443
        {{- else if .Values.prometheus.enabled }}
        - --metrics-bind-address=0.0.0.0:8383
        {{- end }}
        {{- if eq .Values.installMode "Hosted" }}
        - --target-kubeconfig-path=/var/run/managed-kubeconfig/kubeconfig
        {{- end }}
        env:
        - name: WATCH_NAMESPACE
          {{- if eq .Values.installMode "Hosted" }}
          value: {{ .Release.Namespace }}
          {{- else }}
          value: "{{ .Values.clusterName }}"
          {{- end }}
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: {{ include "controller.fullname" . }}
        {{- if .Values.global.proxyConfig }}
        - name: HTTP_PROXY
          value: {{ .Values.global.proxyConfig.HTTP_PROXY }}
        - name: HTTPS_PROXY
          value: {{ .Values.global.proxyConfig.HTTPS_PROXY }}
        - name: NO_PROXY
          value: {{ .Values.global.proxyConfig.NO_PROXY }}
        {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          failureThreshold: 3
          periodSeconds: 10
          {{- if semverCompare "< 1.20.0" (.Values.hostingClusterCapabilities.KubeVersion.Version | default .Capabilities.KubeVersion.Version) }}
          initialDelaySeconds: 300
          {{- end }}
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          failureThreshold: 3
          periodSeconds: 10
          {{- if semverCompare "< 1.20.0" (.Values.hostingClusterCapabilities.KubeVersion.Version | default .Capabilities.KubeVersion.Version) }}
          initialDelaySeconds: 300
          {{- end }}
        {{- if semverCompare ">= 1.20.0" (.Values.hostingClusterCapabilities.KubeVersion.Version | default .Capabilities.KubeVersion.Version) }}
        {{- /* startupProbe became stable in k8s 1.20 */}}
        startupProbe:
          httpGet:
            path: /readyz
            port: 8081
          failureThreshold: 30
          periodSeconds: 10
        {{- end }}
        {{- if and .Values.prometheus.enabled (eq .Values.hostingKubernetesDistribution "OpenShift") }}
        ports:
        - name: metrics
          protocol: TCP
          containerPort: 8443
        {{- else if .Values.prometheus.enabled }}
        ports:
        - name: metrics
          protocol: TCP
          containerPort: 8383
        {{- end }}
        {{- $reverseResourceRequirements := reverse .Values.global.resourceRequirements -}}
        {{- $controllerName := include "controller.fullname" . -}}
        {{- $chartName := .Chart.Name -}}
        {{- range $requirement := $reverseResourceRequirements -}}
          {{- if regexMatch $requirement.containerIDRegex (printf "deployments:%s:%s" $controllerName $chartName) }}
        resources:
            {{- toYaml $requirement.resources | nindent 10 }}
            {{- break -}}
          {{- end -}}
        {{- end }}
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - ALL
          privileged: false
          readOnlyRootFilesystem: true
        volumeMounts:
          {{- if and .Values.prometheus.enabled (eq .Values.hostingKubernetesDistribution "OpenShift") }}
          - mountPath: "/var/run/metrics-cert"
            name: metrics-cert
            readOnly: true
          {{- end }}
          - name: klusterlet-config
            mountPath: /var/run/klusterlet
          {{- if eq .Values.installMode "Hosted" }}
          - mountPath: "/var/run/managed-kubeconfig"
            name: managed-kubeconfig-secret
            readOnly: true
          {{- end }}
      volumes:
        - name: klusterlet-config
          secret:
            secretName: {{ .Values.hubKubeConfigSecret }}
        {{- if and .Values.prometheus.enabled (eq .Values.hostingKubernetesDistribution "OpenShift") }}
        - name: metrics-cert
          secret:
            secretName: {{ include "controller.fullname" . }}-metrics
        {{- end }}
        {{- if eq .Values.installMode "Hosted" }}
        - name: managed-kubeconfig-secret
          secret:
            secretName: {{ .Values.managedKubeConfigSecret }}
        {{- end }}
      {{- if .Values.global.imagePullSecret }}
      imagePullSecrets:
      - name: {{ .Values.global.imagePullSecret }}
      {{- end }}
      affinity: {{ toYaml .Values.affinity }}
      {{- if hasKey .Values "tolerations" }}
      tolerations: {{ toYaml .Values.tolerations | nindent 8 }}
      {{- end }}
      {{- if hasKey .Values.global "nodeSelector" }}
      nodeSelector: {{ toYaml .Values.global.nodeSelector | nindent 8 }}
      {{- end }}
      hostNetwork: false
      hostPID: false
      hostIPC: false
      serviceAccount: {{ include "controller.serviceAccountName" . }}
      securityContext:
        runAsNonRoot: true
